{% extends 'default.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/favorites.css' %}">
{% endblock %}


{% block navbar %}
    {% include "includes/navbars/account_navbar.html" %}
{% endblock %}


{% block content %}
    <div class="main-content">
        <!-- Основная область с рецептами -->
        <div class="content-area">
            <span class="citation">«Каждый рецепт – это история, рассказанная через вкус и аромат».</span>
            <div class="recipe-grid recipe-grid--main" id="recipe-list">
                {% for recipe in recipes %}
                <div class="recipe-card" style="height: 350px;">
                    <img src="{{ recipe.picture.url }}" class="recipe-img recipe-img--h200" alt="{{ recipe.dish_name }}">
                    <div class="recipe-title" style="font-size: 20px;">{{ recipe.dish_name }}</div>
                    <div class="recipe-rating">Рейтинг: <b>{{ recipe.average_rating|floatformat:1 }} </b>⭐️</div>
                    <a href="{{ recipe.get_absolute_url }}" class="btn primary-btn">Посмотреть рецепт</a>
                </div>
                {% empty %}
                    <p class="empty-message">Нет сохраненных рецептов данной категории.</p>
                {% endfor %}
            </div>


            <!-- Кнопка + пагинация -->
            <div class="pagination-container">

            <!-- Пагинация -->
            {% if is_paginated %}
                 <div class="pagination-wrapper">
                     <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">←</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">Первая</span></li>
                            <li class="page-item disabled"><span class="page-link">←</span></li>
                        {% endif %}

                        <li class="page-item active">
                            <span class="page-link">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
                        </li>

                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">→</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">→</span></li>
                            <li class="page-item disabled"><span class="page-link">Последняя</span></li>
                        {% endif %}
                     </ul>
                 </div>
            {% endif %}
        </div>

        <!---Кнопка "Назад", возврат к прошлой странице-->
        <div class="back-button">
            <a href="{% url 'account' profile_user.nickname %}" class="btn primary-btn">← Назад</a>
        </div>
    </div>

        <!-- Сайдбар с категориями -->
        <div class="sidebar">
            <h3 class="sidebar-title">Сортировка по категориям</h3>
            <ul class="category-list">
                <li>
                    <a href="{% url 'favorite_recipes' profile_user.nickname %}"
                       class="{% if not request.GET.category %}active-category{% endif %}">
                        Все категории
                    </a>
                </li>
                {% for category in categories %}
                <li>
                    <a href="{% url 'favorite_recipes' profile_user.nickname %}?category={{ category.id }}"
                       class="{% if request.GET.category|default:'' == category.id|stringformat:'s' %}active-category{% endif %}">
                        {{ category.category }}
                    </a>
                </li>
                {% endfor %}
            </ul>

             <div class="sidebar-image">
                <img src="{% static 'pictures/fav.png' %}"/>
            </div>
        </div>
    </div>
{% endblock %}
