{% extends 'default.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/main.css' %}">
{% endblock %}

{% block navbar %}
    {% include "includes/navbars/main_navbar.html" %}
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="welcome-text">
        <h2>Добро пожаловать на сайт, где вкус и уют встречаются в каждом рецепте!</h2>
    </div>

    <div class="banner">
        <img src="{% static 'pictures/cover.jpg' %}" alt="Кулинарная обложка">
    </div>

    <div class="description">
        <div class="info-text">
            Этот сайт создан по мотивам кулинарных традиций Бри Ван де Камп — идеальной хозяйки из «Отчаянных домохозяек». 
            Здесь вы найдёте блюда, которые превратят обычный ужин в маленький праздник.
            <a href="{% url 'create_recipe' %}">Делитесь своими рецептами</a> и вдохновляйте других создавать атмосферу тепла и уюта за столом!
        </div>

        <blockquote class="quote">
                Давайте приготовим что-нибудь восхитительное. И да, не забудьте про правильную сервировку.
        </blockquote>
    </div>
</div>

{% endblock %}