{% extends 'default.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/user_profile.css' %}">
{% endblock %}

{% block navbar %}
    {% include "includes/navbars/main_navbar.html" %}
{% endblock %}

{% block content %}
<div class="profile-container">
    <!-- Левая колонка -->
    <div class="user-card user-card--profile">
        <img src="{{ user.avatar.url }}" alt="Аватар" class="user-img">
        <p class="user-nickname"><strong>{{ user.nickname }}</strong></p>
        <div class="user-info--profile">
            <p>{{ user.bio|default:"Кулинарный портрет ещё пишется..." }}</p>
        </div>
    </div>

    <!-- Центральная колонка (рецепты) -->
    <div class="profile-right" id="recipe-list">
        <div class="recipe-grid recipe-grid--profile">
            {% for recipe in recipes %}
                <div class="recipe-card">
                    <img src="{{ recipe.picture.url }}" class="recipe-img recipe-img--h150"alt="{{ recipe.dish_name }}">
                    <div class="recipe-title" style="font-size: 18px;">{{ recipe.dish_name }}</div>
                    <a href="{{ recipe.get_absolute_url }}" class="btn primary-btn">Посмотреть рецепт</a>
                </div>
            {% empty %}
                {% if current_category %}
                    <p class="empty-message">Нет опубликованных рецептов данной категории.</p>
                {% else %}
                    <p class="empty-message">У этого пользователя пока нет опубликованных рецептов.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Сайдбар с категориями -->
    <div class="sidebar-profile">
        <h3 class="sidebar-title">Сортировка по категориям</h3>
        <ul class="category-list">
            <li>
                <a href="{% url 'user_profile' user.pk %}"
                   class="{% if not request.GET.category %}active-category{% endif %}">
                    Все категории
                </a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{% url 'user_profile' user.pk %}?category={{ category.id }}"
                   class="{% if request.GET.category|default:'' == category.id|stringformat:'s' %}active-category{% endif %}">
                    {{ category.category }}
                </a>
            </li>
            {% endfor %}
        </ul>

        <div class="sidebar-image">
                <img src="{% static 'pictures/profile-cake.png' %}"/>
            </div>
    </div>

</div>
{% endblock %}
