{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">
<style>
.quote {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 32px;
    font-weight: 700;
    color: #2E2E2E;
    margin: 25px auto;
    display: block;
}

a {
    color: #7a160d;
    text-decoration: underline;
    font-weight: 700;
}
</style>
{% endblock %}

<head>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Ошибка доступа: 403</title>
</head>
{% block content %}
<div class="main-content">
    <div class="text">
        Вы пытались проникнуть туда, куда не положено.  
        <br>Как сказала бы Бри Ван де Камп:
    </div>

    <blockquote class="quote">
        "Порядок — это не просто слово.  
        Это закон, и вы его нарушили."
    </blockquote>

    <img src="{% static '403.gif' %}" alt="Ошибка доступа" class="bree-gif">

    <div class="text">
        Пожалуйста, вернитесь на 
        <a href="{% url 'main' %}">главную страницу</a>  
        и действуйте в рамках правил.
    </div>
</div>
{% endblock %}
