{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

<head>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Страница не найдена: 404</title>
</head>
{% block content %}
<div class="main-content">
    <div class="text">
        «Хаос начинается там, где вещи не на своих местах.
        А вы, похоже, ищете то, чего вовсе не существует.»
    </div>
     <img src="{% static '404.gif' %}" alt="Страница не найдена" class="bree-gif">
</div>
{% endblock %}
