{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

<head>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
    <title>Внутренняя ошибка сервера: 500</title>
</head>
{% block content %}
<div class="main-content">
    <div class="text">
        «Даже в безупречном доме иногда случается беспорядок.
        Но настоящий порядок определяется тем, как быстро его устраняют.»
    </div>
    <img src="{% static '500.gif' %}" alt="Внутренняя ошибка сервера" class="bree-gif">
</div>
{% endblock %}
