.content-area {
    display: flex;
    flex-direction: column;
}   

.pagination-container {
    position: relative;
    margin-top: 30px;
    min-height: 50px;
}

.pagination-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}