.verify-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    padding: 20px;
}

.verify-box {
    width: 420px;
    background-color: #fdf5e6;
    padding: 40px;
    border: 1px solid #a77b5d;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.text {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    color: #2E2E2E;
}

.password-hints {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
    }

.password-hints li.valid {
    color: green; 
    font-weight: bold;
}

.password-wrapper {
    position: relative;
    width: 100%;
}
