.password-toggle {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.password-toggle--signup {
    top: 50%;
}

.password-toggle--login {
    top: 70%;
}

.password-wrapper {
        position: relative;
        width: 100%;
    }


