/* Основные настройки */
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f2ead7;
}

/* Навигационная панель */
.navbar {
    width: 100%;
    box-sizing: border-box;
    background-color: #7a160d;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.3s ease;
    padding: 5px 10px;
    position: relative;
}

/* Эффект при наведении */
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
    transform: scale(1.1);
    color: white;
    text-shadow: 0 0 8px rgba(200, 189, 176, 1);
}

/* Основной контент */
.main-content {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* Основная область контента */
.content-area {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Боковая панель */
.sidebar {
    width: 200px;
    background-color: #D2B48C;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}


/* Адаптивность под мобильные устройства */
@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}


/* Загрузка шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap&text=АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя');
